<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TCP Connection Checker</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1>TCP Connection Checker</h1>
        <div th:if="${result}">
            <h2>Result for FQDN: <span th:text="${inputFqdn}"></span> on Port: <span th:text="${inputPort}"></span></h2>
            <pre th:text="${result}"></pre>
        </div>
        <a href="/test-tcp-connection">Check another TCP Connection</a>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>